<div>
    <main>
        <form id="signupform">
            <div>
                <label for="">Username:</label>
                <input type="text" name = "username">
            </div>
            <div>
                <label for="">Password:</label>
                <input type="password" name = "password">
            </div>
            <div>
                <button type="submit">Sign Up</button>
            </div>
        </form>
    </main>
</div>